// override
// .v-stepper
//   &__header
//     height auto
//   &__step
//     flex-wrap wrap
//     justify-content center
//     padding 1.3vw
//     span
//       margin 0 0 .2vw 0
//     ^[0]__label
//       align-items center
//       flex-basis 100%
.v-picker__body
  min-width 100%
.v-snack
  &__wrapper
    max-width none !important
  &__content
    font-size 1rem
    letter-spacing $letter-spacing-2
    white-space nowrap

.page-container
  padding $padding-md-h $padding-md-w
.primary-title
  flex-basis auto !important
.primary-img
  width 88.12vw
  height 43.86vw
  margin 0 auto
  background-position center
  background-repeat no-repeat
  background-size contain
  img
    width 100%
    height 100%
.primary-content
  padding 4.69vw 4.23vw
  p
  li
    letter-spacing $letter-spacing-h3
.text-under-line
  background-image url(../assets/line/line.png)
  background-repeat repeat-x
  border-image-repeat repeat
  background-size 2.29vw 0.93vw
  background-position bottom
  padding-bottom 1.64vw
  margin-bottom 1.64vw
h2
  font-size $font-size-h2
  letter-spacing $letter-spacing-h2
p
li
  font-size $font-size-p
p
  margin-bottom .82vw
.scroll-to-top
  width 4.80vw
  height 4.80vw
  font-size 5.5vw
  position fixed
  bottom 1.7vw
  right 4.37vw
  z-index 100
  cursor pointer

.loading-view
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  background-color rgba(235,235,235,.3)
  display flex
  justify-content center
  align-items center
  z-index 10

.require-start
  &:before
    content '*'
    color var(--v-error-base)
    padding-right .2vw

// .room-type-icon-group
//   span
//     font-size 1vw !important

.form
  &__checkbox-other-group
    display flex
    white-space nowrap
    .v-input--checkbox
      margin-left .4vw
      margin-right .5vw
    .form__label
      padding-top 1vw
    &--other-input
      min-width 150px
  &__radio-other-group
    .form__label
      padding-top 5px
    &--other-input
      padding 0
      margin 0
      .v-text-field__details
        display none
      .v-input__slot
        margin 0 !important
    // .v-text-field
  &__label
    font-size 16px
    color rgba(0,0,0,0.54)
    line-height 20px
    margin 0
    padding-right 1vw

.text-align-end
  text-align end

.cursor-pointer
  cursor pointer
.letter-space-zero
  letter-spacing normal !important

img
  &.lg
  &.sm
    background-position center
    background-repeat no-repeat
    background-size cover
    display inline-block
  &.lg
    background-image url('../assets/bg_image/bg_placeholder.jpg')
  &.sm
    background-image url('../assets/img_sm/placeholder.jpg')

.overflow-scroll-y
  overflow-x scroll