.page-container
  padding $padding-md-h $padding-md-w
.primary-title
  flex-basis auto !important
.primary-img
  width 88.12vw
  height 43.86vw
  margin 0 auto
  img
    width 100%
    height 100%
.primary-content
  padding 4.69vw 4.23vw
  p
  li
    letter-spacing $letter-spacing-h3
.text-under-line
  background-image url(../assets/line/line.svg)
  background-repeat-x repeat
  border-image-repeat repeat
  background-size 1.52vw
  background-position bottom
  padding-bottom 1.64vw
  margin-bottom 1.64vw
h2
  font-size $font-size-h2
  letter-spacing $letter-spacing-h2
p
  font-size $font-size-p