.text-under-line
  background-image url(../assets/line/line.svg)
  background-repeat-x repeat
  border-image-repeat repeat
  background-size 1.52vw
  background-position bottom
  padding-bottom 1.64vw
  margin-bottom 1.64vw
h2
  font-size $font-size-h2
  letter-spacing $letter-spacing-h2
p
  font-size $font-size-p
