.calendar-list
  // padding 0 5vw
  &__year
    h2
      text-align center
  &__date-list
    display flex
    flex-wrap wrap

$marginBase = 14.28
.calendar-date
  &__basis
    flex-basis 14.28%
  for idx in (1..6)
    &--offset-left-{idx}
      margin-left ($marginBase * idx)%
  for idx in (1..6)
    &--offset-right-{idx}
      margin-right ($marginBase * idx)%
  &__row
    display flex
    font-size $font-size-p
    align-items center
    justify-content center
  &__title
    text-align center
    p
      letter-spacing $letter-spacing-2
  &__room-available
    p
      margin 0
      font-size 1.2vw
  &__dot
    font-size .8vw
    vertical-align middle