$marginBase = 14.28
.calendar-select-date
  for idx in (1..6)
    &-offset-{idx}
      margin-left ($marginBase * idx)%
  &__room-type
  &__room-available
    flex-basis 30%
  &__room-type
    margin-top -12px
    text-align center
  &__room-available
    p
      margin 0
      font-size 1.2vw
  &__room-input
    flex-basis 40%
    margin 0
    padding 0
    input
      text-align center
      font-size 1.4vw
    .v-input__slot
      margin 0

