$marginBase = 14.28
.calendar-select-date
  for idx in (1..6)
    &-offset-{idx}
      margin-left ($marginBase * idx)%
  &__button-group
    display flex
    flex-wrap nowrap
    align-items center
    p
      margin 0
    button
      min-width auto
      border-radius 50%
      margin 0 .2vw
      padding 0 0.5vw
      height 1.5vw
      width 1.5vw
      font-size 1.2vw
      line-height 1.5vw

