.banner-carousels
  &__content
    img
      display inline-block
      width 100%
      height 100%
  &__text
    position absolute
    right 7.46vw
    bottom 19.22vw
    color #fff
    white-space pre-line
    font-size 1.45vw
    letter-spacing 0.58vw
  .v-carousel__controls
    background transparent
    .v-item-group
      position absolute
      bottom 1.7vw
      right 5.52vw
      .v-btn
        &__content
          display none
        &--icon
          width 1.71vw
          height 1.71vw
          background transparent
          border 1px solid #F6B42C
        &--active
          background #F6B42C
          border 1px solid transparent