.banner-carousels
  // &__content
  &__text
    position absolute
    right 7.46vw
    bottom 19.22vw
    color #fff
    white-space pre-line
    font-size 2rem
    letter-spacing 0.8rem
  .v-carousel__controls
    background transparent
    .v-item-group
      position absolute
      bottom 1.7vw
      right 5.52vw
      .v-btn
        &__content
          display none
        &--icon
          width 33px
          height 33px
          background transparent
          border 1px solid #F6B42C
        &--active
          background #F6B42C
          border 1px solid transparent