@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&subset=chinese-traditional');

$font-family = 'Noto Sans TC', "Microsoft JhengHei", "微軟正黑體", "STHeiti", sans-serif
html
body
  font-family $font-family !important
  h1
  h2
  h3
  h4
  h5
  div
  p
  span
  a
  button
    font-family $font-family !important