@font-face
    font-family 'GenJyuuGothic'
    src url(./font/GenJyuuGothic-Normal.ttf)

$font-family = 'GenJyuuGothic', "STHeiti", "Microsoft JhengHei", "微軟正黑體", sans-serif
html
body
  font-family $font-family !important
  h1
  h2
  h3
  h4
  h5
  div
  p
  span
  a
  button
    font-family $font-family !important