.header
  background-image url('../assets/bg_image/bg_header.jpg')
  background-repeat no-repeat
  background-size cover
  &__logo
    min-width 24.21vw
    width 24.21vw
    margin-right 2.5vw
    cursor pointer
    img
      width 100%
      height auto
  &__menu
    width 68.17%
    height 26.26%
  &__button
    display flex
    text-decoration none
    min-width 9.8vw
    min-height 4.50vw
    background-image url('../assets/button/button_header.png')
    background-position -1.5vw -0.9vw
    background-size 123%
    &:nth-of-type(4)
      & .header__button--text
        padding-left 3.75vw
    &.active
    &:hover
    &:active
    &:focus
      background-image url('../assets/button/button_header_active.png')
    &--text
      white-space nowrap
      height 100%
      line-height 4.49vw
      font-size 1vw
      padding-left 4vw
      padding-right 1vw
      letter-spacing $letter-spacing-2
      font-weight bold
      padding-top .1vw
  &__social
    width 12.37vw
    height 2.45vw
    position absolute
    top 1.96vw
    right 4.03vw