.index-topic
  padding $padding-md-h $padding-md-w
  position relative
  &__title
    padding-bottom $padding-md-h
    flex-basis auto !important
    padding-left 7.5vw
  &__intro
    flex-basis auto
    width 100%
    max-width none
    p
      font-size 1.45vw
      letter-spacing $letter-spacing-p
      display inline-block
      white-space pre-line
      position absolute
      top 7vw
      right 0
      padding-right 2vw
      padding-bottom 1.3vw
  &__carousels
    box-shadow none
    .v-carousel__prev
    .v-carousel__next
      .v-btn__content
        width 2.4vw
        position relative
        background var(--v-primary-base)
        height 2.4vw
        i
          font-size 3.64vw !important
          position absolute
          top 50%
          left 50%
          transform translate(-50%,-50%)