.index-order
  min-height 65.5vw
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  z-index 0
  &__outer
    padding-top 13.97vw
    padding-left 12.5vw
  &__button
    text-decoration none
    width 29.8vw
    height 29.8vw
    border-radius 3vw
    display flex
    flex-wrap wrap
    justify-content center
    background-repeat no-repeat
    background-size 29.791vw 29.791vw
    background-position center center
    position relative
    &:before
      content ''
      position absolute
      top 4.427vw
      left 50%
      transform translateX(-50%)
      width 16.13vw
      height 15.7vw
      background-size 16.13vw 15.7vw
      background-image url('../assets/button/text-order.png')
      background-repeat no-repeat
    &:after
      content ''
      position absolute
      background-image url('../assets/button/button_order_active.svg')
      background-repeat no-repeat
      background-size 16.40vw 15.78vw
      width 16.40vw
      height 15.78vw
      top 0
      right 0
      transform translate(10%,-85%)
      opacity 0
      transition all .2s
    &--mobile
    &:hover
      &:after
        opacity 1
  &__text
    font-size 2vw
    letter-spacing $letter-spacing-p
    padding-top 22vw
    font-weight bold
    white-space pre
  &__background
    position absolute
    bottom 0
    left 0
    width 100%
    height 100%
    z-index -1
    &--background
    &--foreground
      width 100%
      height 100%
    &--foreground
    &--ship
    &--map
    &--left
    &--center
    &--right
      position absolute
    &--foreground
      top 0
      left 0
    &--ship
      width 37.69vw
      height 37.69vw
      top 31.5vw
      left -4.29vw
    &--map
      width 56.40vw
      height 54.11vw
      top 4.03vw
      left 8vw
    &--left
      width 42.92vw
      height 9.64vw
      top 21vw
      left -12.33vw
    &--center
      width 29.28vw
      height 6.58vw
      top 40.98vw
      left 36.57vw
    &--right
      width 17.8vw
      height 6.33vw
      top 22.16vw
      left 88.21vw