.index-topic
  position relative
  &--fun
    position relative
    min-height 68.38vw
    background-color #C4E4EE
    background-size contain
    background-repeat no-repeat
    background-position center
    .index-topic__title
      z-index 1
    > .layout:nth-of-type(2)
      position absolute
      top 0
      left 0
    &:before
      content ''
      background-image url('../assets/fun/map_arrow.svg')
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      transform-origin 88.71vw 57.54vw
      animation map_rotate 1.5s linear infinite both
      transition all 1s
  //   background-size 100.11vw 68.42vw
  &--order
    background-size 100.38vw 92.81vw
    margin-bottom -14.8vw
  &__title
    flex-basis auto !important
  &__intro
    flex-basis auto
    width 100%
    max-width none
    p
      font-size 1.45vw
      letter-spacing $letter-spacing-p
      display inline-block
      white-space pre-line
      position absolute
      top 7vw
      right 0
      padding-right 2vw
  &__carousels
    box-shadow none !important
    .v-carousel__prev
    .v-carousel__next
      .v-btn__content
        width 2.4vw
        position relative
        background var(--v-primary-base)
        height 2.4vw
        i
          font-size 3.64vw !important
          position absolute
          top 50%
          left 50%
          transform translate(-50%,-50%)

@keyframes map_rotate
  for i in 0..3
    {25% * i}
      transform rotate((( i % 2 ) * -10 + 5)deg)