$grid-breakpoints = {
  xs: 0
  sm: 360px
  md: 600px
  lg: 1080px
  xl: 3680px
}
@import '~vuetify/src/stylus/main'

$padding-md-h = 3.43vw
$padding-md-w = 2.17vw
$letter-spacing-2 = 0.104vw
$letter-spacing-p = 0.3vw
$letter-spacing-h2 = 0.4vw
$letter-spacing-h3 = 0.59vw

$font-size-h2 = 3.28vw
$font-size-h3 = 2.55vw
$font-size-p = 1.66vw

@import './font.styl';

@import './basic.styl';
@import './header.styl';
@import './socialButton.styl';
@import './carousels.styl';

@import './indexTopic.styl';
@import './titleBoat.styl';

@import './indexNews.styl';
@import './newsList.styl';

@import './indexRooms.styl';
@import './roomsList.styl';

@import './indexLocation.styl';

@import './indexFun.styl';

@import './indexFollow.styl';

@import './indexOrder.styl';
@import './layoutFooter.styl';

@import './showRooms.styl';
@import './serviceIcon.styl';
@import './locationList.styl';
@import './dateRange.styl';

@import './pageMaintenance.styl';

@import './pageNews.styl';
@import './pageFollow.styl';
@import './pageRooms.styl';
@import './pageLocation.styl';
@import './pageOrder.styl';