.index-order
  min-height 65.5vw
  &__outer
    padding-top 9.97vw
    padding-left 11.18vw
  &__button
    text-decoration none
    width 29.8vw
    height 29.8vw
    border-radius 3vw
    display flex
    flex-wrap wrap
    justify-content center
    background-repeat no-repeat
    background-size 29.791vw 29.791vw
    background-position center center
    position relative
    &:before
      content ''
      position absolute
      top 4.427vw
      left 50%
      transform translateX(-50%)
      width 16.13vw
      height 15.7vw
      background-size 16.13vw 15.7vw
      background-image url('../assets/button/text-order.png')
      background-repeat no-repeat
    &:after
      content ''
      position absolute
      background-image url('../assets/button/button_order_active.svg')
      background-repeat no-repeat
      background-size 16.40vw 15.78vw
      width 16.40vw
      height 15.78vw
      top 0
      right 0
      transform translate(10%,-85%)
      opacity 0
      transition all .2s
    &--mobile
    &:hover
      &:after
        opacity 1
  &__text
    font-size 2vw
    letter-spacing $letter-spacing-p
    padding-top 22vw
    font-weight bold
    white-space pre