.index-follow
  padding 1vw 2.5vw
  &__outer
    display flex
  &__button
    text-decoration none
    width 20.15vw
    height 20.15vw
    display flex
    justify-content center
    align-items center
    border-radius 3vw
    border 1vw solid
    transition all .15s
    background-color transparent
    &--info
      border-color var(--v-info-base)
      &:hover
        background-color var(--v-info-base)
    &--warning
      border-color var(--v-warning-base)
      &:hover
        background-color var(--v-warning-base)
    &--error
      border-color var(--v-error-base)
      &:hover
        background-color var(--v-error-base)
    &:hover
      p
        color white !important
  &__text
    margin 0
    font-size 3vw
    white-space pre-line
    font-weight bold
    letter-spacing $letter-spacing-p
    text-align center
    margin-left -1vw
    margin-right -1vw