.index-fun
#animation_container
  width 1920px
  height 1313px
#dom_overlay_container
  pointer-events none
  overflow hidden
  width 1920px
  height 1313px
  position absolute
  left 0px
  top 0px
  display block