.index-fun
#animation_container
  width 100.10vw
  height 68.38vw
#dom_overlay_container
  pointer-events none
  overflow hidden
  width 100.10vw
  height 68.38vw
  position absolute
  left 0px
  top 0px
  display block