.location-list
  margin-bottom 7.58vw
  &__left
    width 45.5vw
    flex-basis auto
    padding-left 7vw
  &__title
    width 45.5vw
    display flex
    flex-direction row
    align-items flex-end
    &--img
      width 11.7vw
      height 10.2vw
      img
        width 100%
        height 100%
    h2
      font-size 3.64vw
  &__address
    margin 2.32vw 0
    p
      font-size 1.97vw
    h3
      font-size 2.44vw
      margin-top 1.68vw
  &__traffic
    &--title
      font-size 2.54vw
      margin-bottom 1.64vw
      span
        font-size 1.3vw
    &-list
      position relative
      &:hover
        .location-list__traffic-list--more-info
          display block
      &--row
        margin-bottom 1vw
        div
          display inline-block
          white-space nowrap
          text-align center
      &--more-info
        display none
        position absolute
        bottom 100%
        left 1vw
        padding .3vw 1vw
        border-radius 10px
        white-space nowrap
        font-size 1.3vw
      &--describe
      &--unit
        font-size 1.88vw
        line-height 4.66vw
        margin 0 0.84vw
      &--target
      &--number
        font-size 2.54vw
        letter-spacing normal
      &--target
        min-width 11.86vw
        height 4.08vw
        border .2vw solid var(--v-primary-base)
        border-radius 1.3vw
        padding 0 .5vw
        &-click
          transition all .15s
          background-color transparent
          &:hover
            color white
            background-color var(--v-primary-base)
      &--number
        min-width 4.66vw
        height 4.66vw
        text-align center
        line-height 4.66vw
        border-radius 4.6vw
        padding 0px 1vw
  &__right
    width 37.22vw
    max-width none !important
    .location-list__img
      width 37.22vw
      height 56.49vw
      img
        width 100%
        height 100%