.news-list
  padding 0 2.8vw 2vw
  &__img
    img
      max-width 24.86vw
      height 16.54vw
      padding 0 5.83vw
      min-width 100%
  &__content
    padding-right 5.23vw
  &__intro
    padding-top .6vw
    p
      letter-spacing $letter-spacing-h2
      margin-bottom 1vw
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
  &__more
    min-height auto
    line-height 1vw
    &-btn
      width 11.20vw
      height 3.47vw
      margin 0
      padding 0
      font-size 1.35vw
      border-radius 17px
      letter-spacing $letter-spacing-2
      min-width auto