.page-order
  h3
    font-size 1.2vw
    text-align center
  &__form--person-info
    display flex
    flex-wrap wrap
  &__footer
    display flex
    justify-content flex-end
    button
      font-size 1.4vw
      letter-spacing $letter-spacing-2
      height 3vw
  &__button-primary
    width 13vw
    height 3vw
    letter-spacing $letter-spacing-p
  &__notice
    &-title
      padding-left 2vw
      font-size 1.2vw
    &-content
      white-space pre-line
      font-size 1vw
      letter-spacing .2vw
    &-checkbox
      justify-content center
