.rooms-list
  padding 0 0.95vw
  &__img
    position relative
    img
      width 27.54vw
      height 19.66vw
      display inline-block
    &:before
    &:after
      content ''
      position absolute
    &:before
      transition all .3s
  &__title
    border-bottom 3px solid var(--v-primary-base)
    display flex
    h2
      font-size 2.08vw
      letter-spacing $letter-spacing-h2
      position relative
      &:before
      &:after
        content ''
        position absolute
        background-image url(../assets/title/icon_star.svg)
        background-repeat no-repeat
        width 1.51vw
        height 1.44vw
        top 50%
      &:before
        left 0
        transform translate(-250%, -50%)
      &:after
        right 0
        transform translate(200%, -50%)
  &__intro
    p
      font-size 1.3vw
      letter-spacing $letter-spacing-h3
  &__title
  &__intro
    padding .4vw 0
  &__content
    padding 0 2.42vw
  &__link
    text-decoration none
    display inline-block
    &:hover
      & ^[0]__img
        &:before
          top 0
          left 0
          width 100%
          height 100%
          background-color #164377
          opacity 0.6
        &-ani:before
        &:after
          top 50%
          left 50%
          background-image url('../assets/button/button_rooms_active.svg')
          transform translate(-50%, -50%)
          background-repeat no-repeat
          background-size 3.87vw 6.19vw
          width 3.87vw
          height 6.19vw
        &-ani:before
          content ''
          position absolute
          background-image url('../assets/button/button_rooms_active_arrow.svg')
          animation button-active-star .8s infinite
      & ^[0]__title-text
        &:before
          animation star-rotate-before .5s
        &:after
          animation star-rotate-after .5s

@keyframes star-rotate-before
  for i in 0..3
    {33.33% * i}
      transform translate(-250%, -50%) rotate((i * 360)deg)

@keyframes star-rotate-after
  for i in 0..3
    {33.33% * i}
      transform translate(200%, -50%) rotate((i * 360)deg)

@keyframes button-active-star
  for i in 0..1
    {100% * i}
      transform translate(-(70 - 40 * i)%, -50%)