.show-rooms
  &__outer
    padding 0 4.57vw
    & ^[0]__line:nth-of-type(1)
      padding-right 1vw
    & ^[0]__line:nth-of-type(3)
      padding-left 1vw
  &__title
    text-align center
    margin-top -1vw
    white-space nowrap