// $boatMarginIncrease = calc( ( 1920px - 100vw ) * 0.000576 )
.title-boat
  padding-left 7.5vw
  padding-bottom $padding-md-h
  h2
  h3
    white-space nowrap
    padding 0 1.09vw 0 2.18vw
  h2
    letter-spacing 0.875vw !important
    font-size $font-size-h2  !important
    font-weight bold
  h3
    letter-spacing 0.44vw !important
    font-size $font-size-h3  !important
    text-transform uppercase
  &__text
    display flex
  &__up
    & ^[0]__text
      border-bottom .26vw solid var(--v-primary-base)
  &__down
    padding-top 5px
  &__img
    position relative
    &:before
      content ''
      border-bottom .26vw solid var(--v-primary-base)
      width 50%
      height 100%
      display inline-block
      position absolute
      bottom 0
      left 0
    img
      height 5.83vw
      margin-bottom calc( -0.33vw - ( 1920px - 100vw ) * 0.002 )